 .u-section-1 {
  background-image: linear-gradient(#ffe800, #ffcf40);
}

.u-section-1 .u-sheet-1 {
  min-height: 1121px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 386px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 274px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 17px auto 0 30px;
}

.u-section-1 .u-layout-wrap-2 {
  width: 662px;
  margin: -148px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 310px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 250px;
  height: 250px;
  --radius: 50px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-1 .u-text-2 {
  transition-duration: 0.5s;
  margin: -173px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 40px auto 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 310px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 250px;
  --radius: 50px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 310px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 250px;
  --radius: 50px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 310px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-shape-3 {
  width: 250px;
  height: 250px;
  --radius: 50px;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 383px;
  height: 566px;
  --radius: 50px;
  margin: -590px 18px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 554px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 4px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 32px;
    margin-right: 316px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -38px;
    margin-left: -50px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-1 .u-group-1 {
    width: 262px;
    min-height: 262px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 1px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -184px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 28px;
    margin-bottom: -12px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 256px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 165px;
  }

  .u-section-1 .u-image-2 {
    width: 316px;
    margin-top: -599px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1443px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-right: 261px;
    margin-left: 108px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -4px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -173px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 196px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-1 .u-image-2 {
    width: 383px;
    margin-top: 23px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2089px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1072px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    width: 174px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -962px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 329px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 269px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 22px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 294px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 310px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 38px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2011px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 204px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 74px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: -30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    min-height: 262px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 185px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 195px;
  }

  .u-section-1 .u-image-2 {
    height: 502px;
    margin-top: 77px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

.u-block-5f18-42:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f18-42:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f18-42:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5f18-42:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-42:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-42:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #111111 !important;
}

.u-block-5f18-42:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-42:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-42:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #111111 !important;
}

.u-block-5f18-44:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f18-44:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f18-44:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5f18-44:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-44:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-44:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #111111 !important;
}

.u-block-5f18-44:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-44:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-44:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #111111 !important;
}

.u-block-5f18-46:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f18-46:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f18-46:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5f18-46:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-46:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-46:not([data-block-selected]):not([data-cell-selected]):hover {
  color: #111111 !important;
}

.u-block-5f18-46:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-46:not([data-block-selected]):not([data-cell-selected]).u-block-5f18-46:not([data-block-selected]):not([data-cell-selected]).hover {
  color: #111111 !important;
}

.u-section-1 .u-layout-cell-3:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-layout-cell-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-layout-cell-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-layout-cell-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-layout-cell-3:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(2) !important;
}

.u-section-1 .u-layout-cell-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-layout-cell-3:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-layout-cell-3:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(2) !important;
}

.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(2) !important;
}

.u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-shape-1:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(2) !important;
}

.u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(2) !important;
}

.u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]).u-section-1 .u-container-layout-5:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(2) !important;
}

.u-section-1 .u-layout-cell-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-layout-cell-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-layout-cell-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-section-1 .u-layout-cell-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #111111 !important;
}

.u-container-layout.hover > .u-section-1 .u-layout-cell-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #111111 !important;
}

.u-section-1 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-section-1 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #111111 !important;
}

.u-container-layout.hover > .u-section-1 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #111111 !important;
}

.u-section-1 .u-group-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-group-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-group-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-section-1 .u-group-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #111111 !important;
}

.u-container-layout.hover > .u-section-1 .u-group-1:not([data-block-selected]):not([data-cell-selected]) {
  color: #111111 !important;
}

.u-section-1 .u-container-layout-6:not([data-block-selected]):not([data-cell-selected]),
.u-section-1 .u-container-layout-6:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-1 .u-container-layout-6:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5f18-78:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f18-78:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f18-78:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-5f18-85:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f18-85:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f18-85:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-section-1 .u-image-1 {
  opacity: 0 !important;
}

.u-container-layout.hover > .u-section-1 .u-image-1 {
  opacity: 0 !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before,
.u-section-1 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover > .u-section-1 .u-text-2 {
  color: #000000 !important;
}

.u-container-layout.hover > .u-section-1 .u-text-2 {
  color: #000000 !important;
} .u-section-2 {
  background-image: url("images/vbvbbv.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 655px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1464px;
  margin: 0 -324px 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 100px 40px 25px;
}

.u-section-2 .u-text-1 {
  margin: 188px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 30px 0 0;
}

.u-section-2 .u-image-1 {
  min-height: 655px;
  background-image: url("images/Liszten_Games_BCs_Front_01_02.28.20_image44.webp");
  background-position: 50% 50%;
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 306px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 460px;
    order: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 55px;
    padding-right: 270px;
    padding-bottom: 50px;
  }

  .u-section-2 .u-image-1 {
    min-height: 941px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1429px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 396px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-1 {
    min-height: 706px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 246px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 445px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 748px;
}

.u-section-3 .u-text-1 {
  margin: 65px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 21px 41px 0;
}

.u-section-3 .u-image-1 {
  width: 695px;
  height: 391px;
  --radius: 50px;
  margin: 65px auto 51px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 857px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 71px;
  }

  .u-section-3 .u-text-2 {
    width: 570px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-1 {
    margin-top: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 191px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 838px;
}

.u-section-4 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 749px;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-shape-1 {
  height: 219px;
  margin: 229px 0 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -387px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 30px));
  min-height: 470px;
  grid-gap: 45px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 715px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-list-1 {
    width: 940px;
    margin-top: -371px;
    margin-bottom: 50px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 427px;
  }

  .u-section-4 .u-image-1 {
    height: 214px;
  }

  .u-section-4 .u-image-2 {
    height: 214px;
  }

  .u-section-4 .u-image-3 {
    height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 22.5px));
    min-height: 1062px;
  }

  .u-section-4 .u-image-1 {
    height: 253px;
  }

  .u-section-4 .u-image-2 {
    height: 253px;
  }

  .u-section-4 .u-image-3 {
    height: 253px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 2286px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 439px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 439px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 439px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: -387px;
  }

  .u-section-4 .u-image-1 {
    height: 270px;
  }

  .u-section-4 .u-image-2 {
    height: 270px;
  }

  .u-section-4 .u-image-3 {
    height: 270px;
  }
} .u-section-5 {
  background-image: none;
  min-height: 838px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 749px;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-5 .u-shape-1 {
  height: 219px;
  margin: 229px 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -387px auto 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 30px));
  min-height: 470px;
  grid-gap: 45px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 270px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 715px;
  }

  .u-section-5 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
    margin-top: -371px;
    margin-bottom: 50px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 427px;
  }

  .u-section-5 .u-image-1 {
    height: 214px;
  }

  .u-section-5 .u-image-2 {
    height: 214px;
  }

  .u-section-5 .u-image-3 {
    height: 214px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 22.5px));
    min-height: 1062px;
  }

  .u-section-5 .u-image-1 {
    height: 253px;
  }

  .u-section-5 .u-image-2 {
    height: 253px;
  }

  .u-section-5 .u-image-3 {
    height: 253px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 2286px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 439px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 439px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 439px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: -387px;
  }

  .u-section-5 .u-image-1 {
    height: 270px;
  }

  .u-section-5 .u-image-2 {
    height: 270px;
  }

  .u-section-5 .u-image-3 {
    height: 270px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 480px;
}

.u-section-6 .u-text-1 {
  font-size: 3.4375rem;
  margin: 127px 75px 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  line-height: 1.8;
  width: 846px;
  margin: 4px auto 0;
}

.u-section-6 .u-text-3 {
  width: 846px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    font-size: 2.8125rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }
}